# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Maven
target/

# Gradle
build/
.gradle/

# IntelliJ
.idea/
*.iml

.vscode/

# Environment files
.env
application-local.properties

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
